In [1]:
import numpy
import scipy.stats
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("bmh")

data = pandas.read_csv("storm_data_search_results.csv")
data.head()

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,...,END_LOCATION,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER
0,422522,HICKMAN CO.,CLINTON,1/12/2013,1340,Thunderstorm Wind,52,,0,0,...,CLINTON,1/12/2013,1340,36.6411,-88.9800,36.6411,-88.9800,A grain bin was heavily damaged. The contents ...,"During the afternoon, a supercell thunderstorm...",1
1,422501,MCCRACKEN CO.,LONE OAK,1/12/2013,1440,Thunderstorm Wind,56,,0,0,...,PADUCAH,1/12/2013,1445,37.0083,-88.6700,37.0647,-88.6108,Several large trees up to three feet in diamet...,"During the afternoon, a supercell thunderstorm...",2
2,424834,BALLARD CO.,LA CENTER,1/29/2013,2235,Thunderstorm Wind,52,,0,0,...,LA CENTER,1/29/2013,2235,37.0266,-88.9800,37.0266,-88.9800,Trees were blown down. There was slight struct...,A line of thunderstorms intensified as it move...,3
3,428959,MCCRACKEN CO.,CAMMELIA,1/29/2013,2247,Thunderstorm Wind,56,,0,0,...,CAMMELIA,1/29/2013,2247,37.0139,-88.8078,37.0139,-88.8078,A barn roof was partially blown off on Highway...,A line of thunderstorms intensified as it move...,4
4,424835,GRAVES CO.,LOWES,1/29/2013,2250,Thunderstorm Wind,61,,0,0,...,LOWES,1/29/2013,2250,36.8800,-88.7700,36.8800,-88.7700,A well house was destroyed. Some shingles were...,A line of thunderstorms intensified as it move...,5

In [2]:
data.columns

Index(['EVENT_ID', 'CZ_NAME_STR', 'BEGIN_LOCATION', 'BEGIN_DATE', 'BEGIN_TIME',
       'EVENT_TYPE', 'MAGNITUDE', 'TOR_F_SCALE', 'DEATHS_DIRECT',
       'INJURIES_DIRECT', 'DAMAGE_PROPERTY_NUM', 'DAMAGE_CROPS_NUM',
       'STATE_ABBR', 'CZ_TIMEZONE', 'MAGNITUDE_TYPE', 'EPISODE_ID', 'CZ_TYPE',
       'CZ_FIPS', 'WFO', 'INJURIES_INDIRECT', 'DEATHS_INDIRECT', 'SOURCE',
       'FLOOD_CAUSE', 'TOR_LENGTH', 'TOR_WIDTH', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'END_RANGE', 'END_AZIMUTH', 'END_LOCATION', 'END_DATE',
       'END_TIME', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON',
       'EVENT_NARRATIVE', 'EPISODE_NARRATIVE', 'ABSOLUTE_ROWNUMBER'],
      dtype='object')

In [1]:
print(data.describe())

# Histogram of magnitudes
plt.hist(data['MAGNITUDE'], bins=20, edgecolor='black')
plt.xlabel('Magnitude')
plt.ylabel('Frequency')
plt.title('Distribution of Magnitudes')
plt.show()

NameError: name 'data' is not defined

In [2]:
# Convert date strings to datetime objects
data['BEGIN_DATE'] = pd.to_datetime(data['BEGIN_DATE'])

# Plot the number of events over time
plt.plot(data['BEGIN_DATE'], data['MAGNITUDE'], marker='o', linestyle='-', label='Magnitude')
plt.xlabel('Date')
plt.ylabel('Magnitude')
plt.title('Magnitude Variation Over Time')
plt.legend()
plt.show()

NameError: name 'pd' is not defined

In [ ]:
# Calculate correlation matrix
correlation_matrix = data.corr()

# Heatmap to visualize the correlation matrix
plt.figure(figsize=(12, 8))
plt.imshow(correlation_matrix, cmap='coolwarm', interpolation='nearest')
plt.colorbar()
plt.xticks(range(len(correlation_matrix)), correlation_matrix.columns, rotation=90)
plt.yticks(range(len(correlation_matrix)), correlation_matrix.columns)
plt.title('Correlation Matrix')
plt.show()

In [ ]:
# Check for missing values
print(data.isnull().sum())

# Remove rows with missing values
data.dropna(inplace=True)

# Or impute missing values with mean or median (if applicable)
data['MAGNITUDE'].fillna(data['MAGNITUDE'].mean(), inplace=True)